<div id="left-sidebar" class="sidebar">
    <button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
        <span class="sr-only">Toggle Fullwidth</span>
        <i class="fa fa-angle-left"></i>
    </button>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown">Hello, <strong>@Session["username"]</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                    <li class="dropdown-item"><a href="/Account/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
        
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu">
                <li class="@Html.IsActive("Index","Home")"><a href="/Home/Index"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                @{
                    if (Session["userType"].ToString() != "user")
                    {

                    }
                }
                <li class="@Html.IsActive("Index","User")"><a href="/User/Index"><i class="lnr lnr-file-empty"></i> <span>Users</span></a></li>
                <li class="@Html.IsActive("","Campaign")" id="campaignTop">
                    <a href="#subPages" class="has-arrow" id="campaignHead" aria-expanded="false"><i class="lnr lnr-file-empty"></i> <span>Campaign</span></a>
                    <ul aria-expanded="true" id="campaign">
                        <li class="@Html.IsActive("Index","Campaign")"><a href="/Campaign/Index">Campaigns</a></li>
                        <li class="@Html.IsActive("CampaignCDR","Campaign")"><a href="/Campaign/CampaignCDR">Campaign CDR</a></li>
                        <li class="@Html.IsActive("CreateCampaign","Campaign")"><a href="/Campaign/CreateCampaign">Create Campaign</a></li>
                    </ul>
                </li>
                <li class="@Html.IsActive("","Call")" id="callTop">
                    <a href="#subPages" class="has-arrow" id="callHead" aria-expanded="false"><i class="lnr lnr-file-empty"></i> <span>Call</span></a>
                    <ul aria-expanded="true" id="call">
                        <li class="@Html.IsActive("SingleCall","Call")"><a href="/Call/SingleCall">Single Call</a></li>
                        <li class="@Html.IsActive("BulkCall","Call")"><a href="/Call/BulkCall">Bulk Call</a></li>
                    </ul>
                </li>
                <li class="@Html.IsActive("","PBXAccounts")" id="PBXAccountsTop">
                    <a href="#subPages" class="has-arrow" id="PBXAccountsHead" aria-expanded="false"><i class="lnr lnr-file-empty"></i> <span>PBX</span></a>
                    <ul aria-expanded="true" id="pbx">
                        <li class="@Html.IsActive("Index","PBXAccounts")"><a href="/PBXAccounts/Index">PBX Accounts</a></li>
                    </ul>
                </li>
                <li class="@Html.IsActive("","UserPBXAccounts")" id="UserPBXAccountsTop">
                    <a href="#subPages" class="has-arrow" id="UserPBXAccountsHead" aria-expanded="false"><i class="lnr lnr-file-empty"></i> <span>User PBX Accoounts</span></a>
                    <ul aria-expanded="true" id="userPBXAcc">
                        <li class="@Html.IsActive("Index","UserPBXAccounts")"><a href="/UserPBXAccounts/Index">User Accounts</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
